body{
    background-color: beige;
}
.todoapp{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}

.todoapp .header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: blue;
}
.card{
    font-family: cursive;
    font-size:40px;
    width:98%;
    height:50px;
    color:black;
    border:3px outset darkblue;
    margin:3px;
    text-align:center;
    
}
.close{
    
    float: right;
}
